<!-- Form to create a new post -->

<link rel="stylesheet" href="/css/styles.css">
<div class="form">
<form action="/submit" method="POST">
    <input type="text" name="title" placeholder="Title" autocomplete="off">
    <textarea name="content" placeholder="Content"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>



  